.askedquestion {
  border: 2px solid var(--blue2);
  padding: 1rem;
  margin: 1rem 0rem;
  width: 50vw;
}

.askedquestion__mail {
  color: var(--blue);
}

.askedquestion__buttons {
  display: flex;
  align-items: center;
}

.askedquestion__buttons button {
  margin: 0rem 0.5rem;
}

.askedquestion__buttons__answer {
  background: var(--blue2);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}

.askedquestion__buttons__answer:hover {
  background: var(--blue);
  cursor: pointer;
}

.askedquestion__buttons__check:disabled {
  pointer-events: none;
}
.askedquestion__buttons__check:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .askedquestion {
    width: 80vw;
  }
}
