.blogcard {
  max-width: 60%;
  min-height: 25vh;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "content author";
  transition: all 0.4s ease;
}

.blogcard:hover {
  transition: all 0.4s ease;
  grid-template-columns: 10fr 2fr;
}

.blogcard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  line-height: 9px;
  grid-area: content;
}

.blogcard__content__title h2 {
  font-size: 1.4rem;
  color: var(--text);
}

.blogcard__content__description p {
  font-size: 1.2rem;
}

.blogcard__content__author {
  grid-area: author;
}

.blogcard__content__author__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.blogcard__content__author__image img {
}
