.container {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  grid-template-rows: 20vh auto 20vh;
  grid-template-areas:
    "header header header"
    "main main main"
    ". footer .";
  background: var(--primary);
  color: var(--white);
}

.activeLink {
  color: var(--blue);
}

.header {
  grid-area: header;
  border-bottom: 3px solid var(--blue);
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  height: 4px;
  background: var(--white);
}

.header__navdesktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header__navdesktop__logo {
  position: relative;
  width: 80px;
  height: 80px;
}

.header__navdesktop__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navdesktop__nav li {
  margin-right: 2rem;
  transition: all 0.3s ease;
}

.header__navdesktop__nav li:last-child {
  margin-right: 0rem;
}

.header__navdesktop__nav li:hover {
  cursor: pointer;
  color: var(--blue);
  transition: all 0.3s ease;
}

.header__navmobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.navmobile__list {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: var(--primary);
  z-index: 999;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 2rem;
}
.navmobile__list li {
  padding: 2rem 0rem;
}

.mobilenavicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobilenavicon__line {
  height: 2.5px;
  margin: 0.2rem 0rem;
  background: var(--white);
  width: 35px;
}
.mobile__toggle {
  background: transparent;
  border: none;
  outline: none;
}

.main {
  grid-area: main;
  min-height: 70vh;
}

.footer {
  grid-area: footer;
}
