.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 20vh auto 20vh;
  grid-template-areas:
    "header header header"
    "main main main"
    ". footer .";
  background: var(--background);
  color: var(--text);
}

.header {
  grid-area: header;
  position: fixed;
  z-index: 999;
  color: var(--text);
  width: 100%;
  min-height: 13vh;
  display: flex;
  align-items: center;
  backdrop-filter: blur(3px);
  font-size: 1.1rem;
}

/* HEADER FOR DESKTOP */

.header__navdesktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__navdesktop__logo {
  position: relative;
  width: 80px;
  height: 80px;
}

.header__navdesktop__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navdesktop__nav li {
  margin-right: 2rem;
  transition: all 0.3s ease;
}

.header__navdesktop__nav li:last-child {
  margin-right: 0rem;
}

.header__navdesktop__nav li:hover {
  cursor: pointer;
  color: var(--blue);
  transition: all 0.3s ease;
}

.header__navmobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  position: relative;
  width: 100%;
}

/* MOBILE NAV CONFIGURATIONNS */

.mobilenavicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.mobilenavicon__line {
  height: 4px;
  margin: 0.2rem 0rem;
  background: var(--text);
  width: 35px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mobile__toggle {
  background: transparent;
  border: none;
  outline: none;
}

.navmobile__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.navmobile__wrapper__background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  top: 10%;
}
.navmobile__wrapper__foreground {
  width: 100%;
  z-index: 999;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  z-index: 999;
}
.navmobile__wrapper__foreground li {
  padding: 2rem 0rem;
}
.navmobile__wrapper__foreground li a {
  margin: 0rem 0.7rem;
}

.socialandtheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15rem;
}

.socialheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.socialheader li {
  margin: 0rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.4rem;
}

.changeTheme {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OTHERS */

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
