.event {
  display: flex;
  align-items: center;
  line-height: 14px;
}

.happenedtrue {
  height: 6rem;
  display: flex;
  align-items: center;
  width: 4px;
  background-color: var(--red);
  margin: 1rem;
}

.happenedfalse {
  height: 6rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  width: 4px;
  background-color: var(--green);
}
