.event {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  background: var(--flavor);
  background: linear-gradient(
    90deg,
    var(--flavor2) 0%,
    var(--flavor3) 36%,
    var(--flavor4) 100%
  );
  border-radius: 15px;
  color: var(--text);
}

.event__info h2 {
  font-size: 1.2rem;
}

.event__info p {
  font-size: 1.1rem;
}

@media (max-width: 800px) {
  .event__info h2 {
    font-size: 1rem;
  }
  .event__info p {
    font-size: 0.9rem;
  }
}
