.blog {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 10vh 15vh auto;
  grid-template-areas:
    ". . ."
    ". head ."
    ". blog .";
  min-height: 90vh;
}

.blog__head {
  grid-area: head;
  font-size: 3rem;
}

.blog__list {
  grid-area: blog;
  list-style: none;
  padding: none;
}

/* Layoutish */

.bloglayout__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bloglayout {
  width: 50%;
  line-height: 24px;
}

.bloglayout p {
  font-size: 1.2rem;
}

.bloglayout__header h1 {
  font-size: 1.8rem;
}

.bloglayout__author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4rem;
}

.bloglayout__author__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  justify-content: center;
  transition: all 0.4s ease;
}

.bloglayout__author__socials a:hover {
  transition: all 0.4s ease;
  color: var(--blue);
}

.bloglayout__author__image {
  position: relative;
  width: 60px;
  height: 60px;
}

.bloglayout__author__image img {
  border-radius: 50%;
}
