.community {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 10vh auto auto;
  grid-template-areas:
    ". . ."
    ". text ."
    ". admin .";
}

.community__text {
  grid-area: text;
}

.community__admin {
  grid-area: admin;
}
