.events {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 10vh auto auto;
  grid-template-areas:
    ". . ."
    ". upcoming ."
    ". past .";
}

.events__upcoming {
  grid-area: upcoming;
}

.events__past {
  grid-area: past;
}
