.gallery {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 10vh auto;
  grid-template-areas:
    ". . ."
    ". gallery .";
}

.gallery__photos {
  grid-area: gallery;
}

.gallery__gallery__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.gallery__gallery__list__image {
  position: relative;
  width: 250px;
  height: 170px;
  margin: 0.4rem;
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: 1fr 9fr 1fr;
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: 1fr 14fr 1fr;
  }
}
