.gallery {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 10vh auto;
  grid-template-areas:
    ". . ."
    ". gallery .";
}

.gallery__photos {
  grid-area: gallery;
}

.gallery__gallery__main {
  position: relative;
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lefthandler {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  outline: none;
}

.righthandler {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
}

.gallery__gallery__main img {
  transition: all 0.4s ease;
}

.gallery__gallery__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.gallery__gallery__list__image {
  position: relative;
  width: 250px;
  height: 170px;
  margin: 0.4rem;
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: 1fr 9fr 1fr;
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: 1fr 14fr 1fr;
  }
}
