@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #040418;
  --secondary: #333333;
  --tertiary: #05020d;

  --background: #040418;
  --background-2: #1e1e1e;

  --flavor: rgb(2, 0, 36);
  --flavor2: rgba(2, 0, 36, 1);
  --flavor3: rgba(20, 20, 65, 1);
  --flavor4: rgba(0, 0, 0, 1);

  --blue: #0096ff;
  --blue2: #3b3db3;
  --text: #efefef;
  --white: #efefef;
  --red: #dc143c;
  --green: #32cd32;
  --black: #333333;
}

[data-theme="light"] {
  --primary: #efefef;
  --secondary: #333333;
  --tertiary: #05020d;

  --background: #efefef;
  --background-2: #fafafa;

  --flavor: rgb(229, 229, 229);
  --flavor2: rgba(229, 229, 229, 1);
  --flavor3: rgba(255, 255, 255, 1);
  --flavor4: rgba(229, 229, 229, 1);

  --blue: #0096ff;
  --blue2: #3b3db3;
  --text: #040418;
  --white: #efefef;
  --red: #dc143c;
  --green: #32cd32;
  --black: #333333;
}

/* Track */

html,
body {
  font-family: "Comfortaa", cursive;
  padding: 0;
  margin: 0;
  letter-spacing: -0.5px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.7rem;
  }
}
