.home {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    ". herotext ."
    ". gallery ."
    ". events ."
    "building building building"
    ". community ."
    ". admins ."
    ". ask .";
}

.section__header h2 {
  font-size: 1.4rem;
  padding: 1.3rem 0rem;
}

.hero {
  position: absolute;
  top: 0;
  margin-top: 0rem;
  min-height: 100vh;
  background: url(../public/images/gazilogo.svg);
  background-repeat: no-repeat;
  background-position: 200px;
  background-size: 100% 250%;
  background-attachment: fixed;
  width: 100%;
}

.herotext {
  grid-area: herotext;
  font-family: "Press Start 2P";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin-top: 15rem;
  min-height: 50vh;
  grid-area: gallery;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.gallery__main {
  position: relative;
  width: 70%;
  height: 50vh;
}
.gallery__main img {
  border-radius: 12px;
}

.gallery__others {
  padding: 2rem;
}
.gallery__others__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__others__list li {
  position: relative;
  width: 250px;
  height: 120px;
  margin: 1rem;
}

.events {
  grid-area: events;
  margin-top: 6rem;
  min-height: 50vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.events__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.building {
  margin-top: 5rem;
  min-height: 60vh;
  grid-area: building;
  width: 100%;
  position: relative;
  min-height: 35vh;
  padding: 2rem;
}

.community {
  margin-top: 5rem;
  min-height: 60vh;
  grid-area: community;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.community p {
  font-size: 1.1rem;
  line-height: 26px;
}

.admins {
  margin-top: 5rem;
  min-height: 60vh;
  grid-area: admins;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admins__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputbox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.inputbox input {
  min-height: 6vh;
  font-size: 1.2rem;
  padding: 1rem;
  border: 2px solid var(--blue2);
  margin: 0.6rem 0rem;
  outline: none;
  background: var(--flavor);
}

.inputbox input:focus {
  border: 2px solid var(--blue);
}

.inputbox textarea {
  min-height: 80%;
  padding: 1rem;
  font-size: 1.3rem;
  border: 2px solid var(--blue2);
  outline: none;
  margin: 0.6rem 0rem;
  resize: none;
  background: var(--flavor);
}

.inputbox textarea:focus {
  border: 2px solid var(--blue);
}

.ask {
  grid-area: ask;
  margin-top: 5rem;
}

.ask form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "message title"
    "message email"
    "message captcha"
    "message send";
}
.ask form #captcha {
  grid-area: captcha;
  display: flex;
  justify-content: center;
}
.ask form #mess {
  grid-area: message;
}

.ask form #emai {
  grid-area: email;
}

.ask form #titl {
  grid-area: title;
}

.ask form button {
  font-size: 1.1rem;
  margin: 1rem;
  background: var(--flavor3);
  color: var(--white);
  border: none;
  outline: none;
}

.ask form button:disabled {
  background-color: gray;
  pointer-events: none;
}

.ask form button:hover {
  cursor: pointer;
  background: var(--flavor2);
}

.formerror {
  padding: 1.5rem;
  background: var(--red);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 6px;
}

.formsuccess {
  padding: 1.5rem;
  background: var(--green);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
  border-radius: 6px;
}

@media (max-width: 1100px) {
  .ask {
    padding: 1rem;
  }
  .ask form {
    width: 100%;
    grid-template-areas:
      "title title title"
      "email email email"
      "message message message"
      "captcha captcha captcha"
      "send send send";
    grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
  }

  .inputbox {
    padding: 0rem;
    height: max-content;
  }

  .inputbox input {
    font-size: 1rem;
  }

  .inputbox textarea {
    font-size: 0.9rem;
    min-height: 40vh;
    resize: none;
    word-break: keep-all;
    max-width: 100%;
  }

  .ask form button {
    height: 8vh;
    margin: 0rem;
  }

  .ask form #captcha {
    justify-content: start;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .home {
    grid-template-areas:
      "herotext herotext herotext"
      "gallery gallery gallery"
      "events events events"
      "building building building"
      "community community community"
      "admins admins admins"
      "ask ask ask";
  }
  .hero {
    font-size: 0.8rem;
  }
  .events {
    margin-top: 0rem;
    padding: 1rem;
  }

  .community p {
    font-size: 0.9rem;
  }

  .gallery__others__list li {
    width: 125px;
    height: 60px;
    margin: 0.5rem;
  }

  .hero {
    grid-area: hero;
    min-height: 15vh;
    padding: 1rem;
  }
  .hero h1 {
    font-size: 0.8rem;
  }
  .hero p {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .hero {
    font-size: 0.5rem;
    max-height: 20vh;
  }
}
