.home {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 3vh auto auto auto auto auto auto;
  grid-template-areas:
    ". . ."
    "hero hero hero"
    ". gallery ."
    ". events ."
    "building building building"
    ". community ."
    ". admins .";
}

.section__header h2 {
  font-size: 1.4rem;
  padding: 1.3rem 0rem;
}

.hero {
  margin-top: 0rem;
  grid-area: hero;
  min-height: 60vh;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Press Start 2P";
  background: url(../public/images/gazilogo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

.gallery {
  margin-top: 6rem;
  min-height: 50vh;
  grid-area: gallery;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.gallery__main {
  position: relative;
  width: 100%;
  height: 40vh;
}
.gallery__main img {
  border-radius: 12px;
}

.gallery__others {
  padding: 2rem;
}
.gallery__others__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__others__list li {
  position: relative;
  width: 250px;
  height: 120px;
  margin: 1rem;
}

.events {
  grid-area: events;
  margin-top: 6rem;
  min-height: 50vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.events__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.building {
  margin-top: 5rem;
  min-height: 60vh;
  grid-area: building;
  width: 100%;
  position: relative;
  min-height: 35vh;
  padding: 2rem;
}

.community {
  margin-top: 5rem;
  min-height: 60vh;
  grid-area: community;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.community p {
  font-size: 1.1rem;
  line-height: 26px;
}

.admins {
  margin-top: 5rem;
  min-height: 60vh;
  grid-area: admins;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admins__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .home {
    grid-template-areas:
      ". . ."
      "hero hero hero"
      "gallery gallery gallery"
      "events events events"
      "building building building"
      "community community community"
      "admins admins admins";
  }
  .hero {
    font-size: 0.8rem;
  }
  .events {
    margin-top: 0rem;
    padding: 1rem;
  }

  .community p {
    font-size: 0.9rem;
  }

  .gallery__others__list li {
    width: 125px;
    height: 60px;
    margin: 0.5rem;
  }

  .hero {
    grid-area: hero;
    min-height: 15vh;
    padding: 1rem;
  }
  .hero h1 {
    font-size: 0.8rem;
  }
  .hero p {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .hero {
    font-size: 0.5rem;
    max-height: 20vh;
  }
}
